@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* not using flex-box so get rid of flex-box items */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  background-color: #333;
  color: #222;
  /* overflow-x only hides the scroll bar on the x-axis */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  /* need to set transform origin to top left */
  transform-origin: top left;
  /* transition the transform property */
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* need to add show nav to html */
.container.show-nav {
  /* when you rotate the origin by default will be in the middle; we want the rotation point be on the top left; so we changes transform-origin in the container to top left*/
  transform: rotate(-20deg);
}

.circle-container {
  /* want the circle fixed at top left of page so looks like a quarter of a circle */
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  /* set relative to cirle */
  left: 60%;
}

.circle button#close {
  /* set relative to cirle */
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav+nav li {
  /* tranlates all of the nav items into view as staggered d/t translateX in the respective elements */
  transform: translateX(0);
  transition-delay: 0.3s;
}

/* dix nav at the bottom */
nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  /* get rid of bullet pts with list-style-type set to none */
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  /* use transform to bring nav from left */
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  /* style icons - give icons space from words */
  font-size: 20px;
  margin-right: 10px;
}

/* use li+li to stagger nav bar */
nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}